body {
    user-select: none;
}

body {
    margin: 0px;
}

svg {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.alignLeft {
    position: absolute;
    left: 0;
}

.alignRight {
    position: absolute;
    right: 0;
}

.overlaid {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    z-index: 1;
}

.infoBar {
    position: absolute;
    width: 100%;
}

.infoBar div {
    margin: 2px;
    display: inline;
}

.infoBar img {
    margin: 2px;
    vertical-align: bottom;
}

.hideOverflow {
    overflow: hidden;
}

.arrow {
    width: 80%;
}

.menuPopup {
    padding: 5px;
    font-style: italic;
    font-family: roman;
    background: rgb(220,255,255);
}

.menuTable {
    margin-left: 20px;
}

.menuItem {
    margin: 10px;
    padding: 2px 5px 2px 5px;
    font-style: normal;
    font-family: monospace;
    text-align: center;
    // border: 1px solid black;
    background: rgb(255, 255, 220);
    box-shadow: 2px 2px gray;
}

.cancelItem {
    font-style: italic;
    font-family: serif;
    color: red;
}

.menuItem:hover {
    background: rgb(255, 200, 200);
}
